body {
  font-family:'Inter', sans-serif;
  font-size: 14px;
}
a, a:focus, a:hover {
  color: #CB1111;
}
a[href] {
  color: #551A8B;
  text-decoration: underline;
}
.roam-body .roam-app {
  color: #29333D;
}
.rm-page-ref-tag {
  background-color: #E0E5EB;
  border-radius: 1em;
  color: #29333D;
  font-size: .9em;
  line-height: 1rem;
  padding-top: 1px;
  padding-right: .5em;
  padding-bottom: 1px;
  padding-left: .5em;
}
.rm-page-ref-brackets {
  /*color: light-grey;*/
  display: inline-block;
  font-weight: 300;
  letter-spacing: -1px;
  padding-right: .5px;
  padding-left: .5px;
}
.rm-page-ref-link-color {
  color: #CB1111;
  font-weight: 500;
  /*padding-left: .5px;*/
}
.check-container input:checked ~ .checkmark {
  background-color: #005CB8;
}
.check-container {
  top: -7px;
  padding-left: 16px;
}
.checkmark {
  border-radius: 3px;
  height: 14px;
  width: 14px;
}
.check-container .checkmark:after {
  left: 4px;
  top: 0px;
  height: 11px;
  width: 6px;
}
.roam-block,
.rm-block-input {
  margin-top: 0;
}
.rm-block-ref {
  font-size: inherit;
  border-bottom: 1px dashed #ced9e0;
  margin: 0;
  padding: 2px 0;
}


.block-border-left {
  border-left-color: #E0E5EB;
}

.block-bullet-view {
  margin-left: 6px;
}

span.bp3-icon-standard {
  margin-top: -1px;
  color: #005CB8;
}

.controls .opacity-7 {
  opacity: 1;
}

.roam-bullet-closed,
#right-sidebar .roam-bullet-closed {
  background-color: #E0E5EB;
}

.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: #A3B3C2;
  height: 3px;
  width: 3px;
}

.controls .roam-bullet-closed .simple-bullet-inner {
  background-color: #29333D;
}


.rm-reference-item {
  background-color: #FCFCFD;
  border: 1px dashed #ced9e0;
  border-radius: 4px;
  margin-top: 1em;
  margin-right: 0;
  padding-top: 1ex;
  padding-right: 0;
  padding-bottom: 1ex;
  padding-left: 0;
}


.hoverparent, .react-resizable {
  max-width: 100%;
}
.rm-block-text {
  max-width: 100%;
}


#right-sidebar {
  background-color: #F6F7F9 !important;
  background-color: #fff !important;
  border-left: 1px solid #E0E5EB;
  box-shadow: rgba(0,0,0,.05) 0px 0px 10px;
}

#right-sidebar .level2 {
  font-family: Inter, sans-serif;
  font-weight: 500;
  xfont-size: 1.5em;
}
